<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
    <test name="First">
        <parameter name="browser" value="chrome">
            <classes>
                <class name="FlightClubSneakersTest">
                    <methods>
                        <include name="goToSneakersPageTest"/>
                    </methods>
                </class>
            </classes>
        </parameter>
    </test>
    <test name="Second">
        <parameter name="browser" value="chrome">
            <classes>
                <class name="HomePageTest">
                    <methods>
                        <include name="goToSneakersPageTest"/>
                    </methods>
                </class>
            </classes>
        </parameter>
    </test>
    <test name="Third">
        <parameter name="browser" value="chrome">
            <classes>
                <class name="LogoTest">
                    <methods>
                        <include name="logoTakesToHomePageTest"/>
                    </methods>
                </class>
            </classes>
        </parameter>
    </test>
    <test name="Fourth">
        <parameter name="browser" value="chrome">
            <classes>
                <class name="LogoTest">
                    <methods>
                        <include name="sneakerSizeTest"/>
                    </methods>
                </class>
            </classes>
        </parameter>
    </test>
</suite>